<h1>Welcome to the WebDB App</h1>

    <h2>
      This is the home page for the
      
      json sample application.
    </h2>

   <center> <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
   <center/>
  </div>

  

